@{
    Layout = "_LayoutUser";
    ViewBag.Title = "Trang chủ";
}
@model EduQuiz.Models.EF.User
@{
    @using Newtonsoft.Json;
    var favoriteList = JsonConvert.DeserializeObject<List<InterestUser>>(Model.Favorite);
    var countInterest = favoriteList?.Count;
}
<!-- End Navbar -->
<div class="content">
    <div class="layout-index">
        <div class="col-md-3" style="min-height:400px;">
            <div class="left-layout">
                <div class="container d-flex">
                    <div class="d-flex align-items-center">
                        <img class="profile-image" src="~/src/img/defaultimguser.png" />
                    </div>
                    <div class="pl-2 d-flex flex-column justify-content-center">
                        @if (!string.IsNullOrEmpty(Model.FirstName) || !string.IsNullOrEmpty(Model.LastName))
                        {
                            <span id="nameshow" style="color: rgb(110, 110, 110);font-weight:600;font-size:13px">@Model.FirstName @Model.LastName</span>
                        }
                        else
                        {
                            <button class="button-add" data-toggle="modal" data-target="#modalChangName">
                                <span>Thêm tên</span>
                                <i style="font-size:16px;margin-left:6px" class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        }
                        <span style="color: rgb(110, 110, 110);font-weight:600;font-size:13px">@Model.Email</span>
                    </div>
                </div>
                <div class="profile-infomation">
                    <img src="~/src/img/plan.svg" />
                    <span class="text-profile">
                        Kế hoạch
                    </span>
                    <span class="text-profile">
                        <a href="#" class="profile-link">
                            Nâng cấp
                        </a>
                    </span>
                </div>
                <div class="profile-infomation-filed" style="margin-top:8px">
                    <span id="countInterest" class="text-profile">
                        Sở thích của bạn@(countInterest > 0 ? "(" + countInterest + ")" : "")
                    </span>
                    <span id="checkmodal" class="text-profile">
                        @{
                            var isInterestAvailable = countInterest > 0;
                            var interestActionText = isInterestAvailable ? "Hiển thị" : "Thêm sở thích";
                            var interestActionId = isInterestAvailable ? "showInterest" : "changeInterest";
                            var interestActionAttributes = isInterestAvailable ? "" : "data-toggle=\"modal\" data-target=\"#modalEditInterest\"";
                        }
                        <span id="@interestActionId" @Html.Raw(interestActionAttributes) style="padding:4px 0 4px 4px" class="profile-link">
                            @interestActionText
                        </span>
                    </span>
                </div>
                <div id="myinterest" class="d-flex" style="margin:10px 15px 0 15px;flex-wrap: wrap;" />

            </div>
            <div class="profile-infomation-filed" style="margin-top:8px">
                <div class="py-2">
                    <div class="d-flex align-items-center mb-2">
                        <img style="width:30px;height:30px" src="~/src/img/verified.png" />
                        <span class="ml-2" style="font-weight:600">Hồ sơ xác minh</span>
                        <i style="font-size:16px;margin-left:8px" class="fa fa-info-circle" aria-hidden="true"></i>
                    </div>
                    <p>Trở thành người sáng tạo được xác minh! Cung cấp tài nguyên học tập của bạn để bán và tham gia cộng đồng toàn cầu.</p>
                    <a href="@Url.Action("Index","Profile")" class="btn">Xác minh ngay</a>
                </div>
            </div>

        </div>
        <div class="layout-card" style="padding-top:0">
            <img src="~/src/img/market.jpg" />
            <div class="market-wrapper">
                <h4 class="market-wrapper_title">Được trả tiền cho tài nguyên học tập của bạn!</h4>
                <p>Trở thành người bán trên thị trường mới của EduQuiz! để kiếm tiền từ nội dung học tập của bạn.</p>
                <button type="button" class="btn" style="width:fit-content;background-color:rgb(183, 141, 0)">Bắt đầu</button>
            </div>
        </div>
    </div>
    <div class="col-md-6 view-center" style="min-height:600px;padding:0">
        <div class="center-view_wrapper">
            <h3 class="title-center-view">Giao cho tôi(0)</h3>
            <a class="see-all" href="#">Xem tất cả các bài tập</a>
        </div>
        <div class="layout-card mt-3">
            <div class="layout-card_header">
                <div class="d-flex">
                    <button type="button" class="tabs-button">Nhóm của tôi</button>
                    <button type="button" class="tabs-button">Các nhóm tham gia</button>
                </div>
            </div>
            <div class="layout-card_body">
                <div class="layout-card_body-style">
                    <div class="onboarding-container">
                        <p>Chào mừng đến với Nhóm học! Khi một nhóm học được tạo, bạn có thể tổ chức các buổi học, chỉ định học viên và bắt đầu các hoạt động học tập ngay lập tức!</p>
                        <a href="#" class="btn"> Tạo nhóm</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout-card">
            <div class="layout-card_header">
                <button type="button" class="tabs-button" style="border-bottom:none">Chủ đề hot</button>
            </div>
            <div class="layout-card_body">
                <div class="layoutcard-item">
                    <a class="d-flex" href="#">
                        <div class="layoutcard-item_img">
                            <img src="~/src/img/market.jpg" />
                            <span>10 câu hỏi</span>
                        </div>
                        <div class="d-flex flex-column" style="flex:1">
                            <div class="card-item_title">
                                <span>Hóa học là gì</span>
                            </div>
                            <div class="card-item_footer">
                                <div class="d-flex align-items-center">
                                    <div class="card-item_footer-img">
                                        <img src="~/src//img/defaultimguser.png" />
                                    </div>
                                    <span class="card-item_footer-name">tuannguyen_ok123</span>
                                </div>
                                <span class="count-playquiz">100k lượt chơi</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="layoutcard-item">
                    <a class="d-flex" href="#">
                        <div class="layoutcard-item_img">
                            <img src="~/src/img/market.jpg" />
                            <span>10 câu hỏi</span>
                        </div>
                        <div class="d-flex flex-column" style="flex:1">
                            <div class="card-item_title">
                                <span>Hóa học là gì</span>
                            </div>
                            <div class="card-item_footer">
                                <div class="d-flex align-items-center">
                                    <div class="card-item_footer-img">
                                        <img src="~/src//img/defaultimguser.png" />
                                    </div>
                                    <span class="card-item_footer-name">tuannguyen_ok123</span>
                                </div>
                                <span class="count-playquiz">100k lượt chơi</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="layoutcard-item">
                    <a class="d-flex" href="#">
                        <div class="layoutcard-item_img">
                            <img src="~/src/img/market.jpg" />
                            <span>10 câu hỏi</span>
                        </div>
                        <div class="d-flex flex-column" style="flex:1">
                            <div class="card-item_title">
                                <span>Hóa học là gì</span>
                            </div>
                            <div class="card-item_footer">
                                <div class="d-flex align-items-center">
                                    <div class="card-item_footer-img">
                                        <img src="~/src//img/defaultimguser.png" />
                                    </div>
                                    <span class="card-item_footer-name">tuannguyen_ok123</span>
                                </div>
                                <span class="count-playquiz">100k lượt chơi</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="layoutcard-item">
                    <a class="d-flex" href="#">
                        <div class="layoutcard-item_img">
                            <img src="~/src/img/market.jpg" />
                            <span>10 câu hỏi</span>
                        </div>
                        <div class="d-flex flex-column" style="flex:1">
                            <div class="card-item_title">
                                <span>Hóa học là gì</span>
                            </div>
                            <div class="card-item_footer">
                                <div class="d-flex align-items-center">
                                    <div class="card-item_footer-img">
                                        <img src="~/src//img/defaultimguser.png" />
                                    </div>
                                    <span class="card-item_footer-name">tuannguyen_ok123</span>
                                </div>
                                <span class="count-playquiz">100k lượt chơi</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="min-height:400px;">
        <div class="layout-card">
            <div class="layout-card_header">
                <button type="button" class="tabs-button">EduQuiz của bạn</button>
            </div>
            <div class="layout-card_body">
                <div class="layoutcard-item">
                    <a class="d-flex" href="#">
                        <div class="layoutcard-item_img">
                            <img src="~/src/img/market.jpg" />
                            <span>10 câu hỏi</span>
                        </div>
                        <div class="d-flex flex-column" style="flex:1">
                            <div class="card-item_title">
                                <span>Hóa học là gì</span>
                            </div>
                            <div class="card-item_footer">
                                <div class="d-flex align-items-center">
                                    <div class="card-item_footer-img">
                                        <img src="~/src//img/defaultimguser.png" />
                                    </div>
                                    <span class="card-item_footer-name">tuan_ok123</span>
                                </div>
                                <span class="count-playquiz">10 lượt</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="layoutcard-item">
                    <a class="d-flex" href="#">
                        <div class="layoutcard-item_img">
                            <img src="~/src/img/market.jpg" />
                            <span>10 câu hỏi</span>
                        </div>
                        <div class="d-flex flex-column" style="flex:1">
                            <div class="card-item_title">
                                <span>Hóa học là gì</span>
                            </div>
                            <div class="card-item_footer">
                                <div class="d-flex align-items-center">
                                    <div class="card-item_footer-img">
                                        <img src="~/src//img/defaultimguser.png" />
                                    </div>
                                    <span class="card-item_footer-name">tuan</span>
                                </div>
                                <span class="count-playquiz">8 lượt</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="layout-card_footter">
                <a class="footer-link" href="#">Xem tất cả(5)</a>
            </div>
        </div>
        <div class="layout-card mt-3">
            <div class="layout-card_header">
                <button style="border-bottom:none" type="button" class="tabs-button">Báo cáo mới nhất</button>
            </div>
            <div class="layout-card_body">
                <div class="layoutcard-item">
                    <a class="d-flex" href="#">
                        <div class="layoutcard-item-report_img">
                            <img src="~/src/img/logoplayquiz.svg" />
                        </div>
                        <div class="layoutcard-item-report_footer">
                            <span class="time-report">Ngày 11 tháng 8 năm 2024</span>
                            <span class="name-report">Kiểm tra trắc nghiệm EduQuiz</span>
                       </div>
                    </a>
                </div>
                 <div class="layoutcard-item">
                    <a class="d-flex" href="#">
                        <div class="layoutcard-item-report_img">
                            <img src="~/src/img/logoplayquiz.svg" />
                        </div>
                        <div class="layoutcard-item-report_footer">
                            <span class="time-report">Ngày 11 tháng 8 năm 2024</span>
                            <span class="name-report">Kiểm tra trắc nghiệm EduQuiz</span>
                       </div>
                    </a>
                </div>
                 <div class="layoutcard-item">
                    <a class="d-flex" href="#">
                        <div class="layoutcard-item-report_img">
                            <img src="~/src/img/logoplayquiz.svg" />
                        </div>
                        <div class="layoutcard-item-report_footer">
                            <span class="time-report">Ngày 11 tháng 8 năm 2024</span>
                            <span class="name-report">Kiểm tra trắc nghiệm EduQuiz</span>
                       </div>
                    </a>
                </div>
                <div class="layoutcard-item">
                    <a class="d-flex" href="#">
                        <div class="layoutcard-item-report_img">
                            <img src="~/src/img/logoplayquiz.svg" />
                        </div>
                        <div class="layoutcard-item-report_footer">
                            <span class="time-report">Ngày 11 tháng 8 năm 2024</span>
                            <span class="name-report">Kiểm tra trắc nghiệm EduQuiz</span>
                        </div>
                    </a>
                </div>
                <div class="layoutcard-item">
                    <a class="d-flex" href="#">
                        <div class="layoutcard-item-report_img">
                            <img src="~/src/img/logoplayquiz.svg" />
                        </div>
                        <div class="layoutcard-item-report_footer">
                            <span class="time-report">Ngày 11 tháng 8 năm 2024</span>
                            <span class="name-report">Kiểm tra trắc nghiệm EduQuiz</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="layout-card_footter">
                <a class="footer-link" href="#">Xem tất cả(5)</a>
            </div>
        </div>
    </div>
</div>




<!-- Modal EditName-->
<div class="modal" id="modalChangName" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border:none">
                <h3 class="modal-title">Sửa tên của bạn</h3>
            </div>
            <div class="modal-body">
                <span>Vui lòng nhập tên của bạn bên dưới</span>
                <input style="padding:10px 16px;" id="editname" type="text" class="form-control mt-4" placeholder="Nhập tên của bạn" value="">
            </div>
            <div class="modal-footer" style="border:none;justify-content:center">
                <button id="close" type="button" class="btn " data-dismiss="modal" style="background-color:rgb(226, 27, 60)">Hủy bỏ</button>
                <button id="savename" type="button" class="btn " style="background-color:rgb(38, 137, 12)">Xong</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal ADD FAVORITE-->
<div class="modal" id="modalEditInterest" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border:none">
                <h3 class="modal-title">Chỉnh sửa sở thích của bạn</h3>
            </div>
            <div class="modal-body custom-hiden">
                <div class="interest_wrapper">
                    <span>Sở thích bạn chọn sẽ giúp chúng tôi tùy chỉnh trải nghiệm EduQuiz cho bạn</span>
                    <div id="interestContainer" class="interest_wrapper-content mt-3">
                        <button class="btn-interest active">Công nghệ <i class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border:none;justify-content:center">
                <button id="closeInterest" type="button" class="btn" data-dismiss="modal" style="background-color:rgb(226, 27, 60)">Hủy bỏ</button>
                <button id="saveInterest" type="button" class="btn " style="background-color:rgb(38, 137, 12)">Xong</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var userid = `@Model.Id`;
            var userFavorite = JSON.parse('@Html.Raw(Model.Favorite)');
            var arrInterestCheck = [];
            var arrInterest = [];
            getListInterest()
            function getListInterest() {
                $.ajax({
                    type: 'GET',
                    url: "@Url.Action("GetListInterest", "HomeDashboard")",
                    success: function (response) {
                        if (response.result == "PASS") {
                            arrInterest = response.data;
                        }
                    },
                    error: function (err) {

                    }
                })
            }
            $(document).on('click', '#changeInterest', function () {
                arrInterestCheck = JSON.parse(JSON.stringify(userFavorite));
                renderInterest();
                $("#modalEditInterest").show();
            });
            $(document).on("click", "#showInterest", function () {
                var interestContainer = $("#myinterest");
                if (interestContainer.children('.interest-item').length > 0) {
                    interestContainer.empty();
                    $(this).text("Hiển thị")
                } else {
                    userFavorite.forEach(function (item) {
                        var interestItem = `<span class="interest-item">${item.name}</span>`;
                        interestContainer.append(interestItem);
                    });
                    interestContainer.append(` <span id="changeInterest" style="padding: 4px 0 4px 4px;font-size: 12px;width: 100%;text-align: center;font-weight: 600;" class="profile-link" data-toggle="modal" data-target="#modalEditInterest">
                                    Chỉnh sửa sở thích
                            </span>`)
                    $(this).text("Ẩn")
                }
            });

            function renderInterest() {
                var interestContainer = $('#interestContainer');
                interestContainer.empty();
                // Duyệt qua danh sách sở thích và tạo các phần tử HTML
                arrInterest.forEach(function (interest) {
                    var isActive = arrInterestCheck.some(fav => fav.id === interest.id);
                    var iconClass = isActive ? 'fa-times' : 'fa-plus'; // Chọn biểu tượng dựa trên trạng thái active

                    var interestItem = `
                                <button class="btn-interest ${isActive ? 'active' : ''}" data-id="${interest.id}" data-name="${interest.name}">
                                    ${interest.name} <i class="fa ${iconClass}" aria-hidden="true"></i>
                                </button>
                            `;
                    interestContainer.append(interestItem); // Thêm phần tử vào container
                });
            }
            $(document).on('click', '.btn-interest', function () {
                var button = $(this);
                var interestId = button.data('id');
                var interestName = button.data('name');
                var isActive = button.hasClass('active');

                button.toggleClass('active');

                var icon = button.find('i');
                icon.toggleClass('fa-plus fa-times');

                if (isActive) {
                    // Xóa sở thích khỏi danh sách yêu thích
                    arrInterestCheck = arrInterestCheck.filter(fav => fav.id !== interestId);
                } else {
                    // Thêm sở thích vào danh sách yêu thích
                    arrInterestCheck.push({ id: interestId, name: interestName });
                }
                console.log(arrInterestCheck)
            });

            $("#saveInterest").click(function () {
                if (arrInterestCheck.length <= 0) {
                    openToast('warning', 'Lỗi', "Vui lòng chọn ít nhất 1 sở thích!", 2500);
                    return;
                }
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("EditInterestUser", "HomeDashboard")",
                    data: {
                        userid: userid,
                        listfavorite: arrInterestCheck
                    },
                    success: function (response) {
                        if (response.redirectUrl) {
                            Swal.fire({
                                title: 'Hết phiên đăng nhập',
                                text: 'Vui lòng đăng nhập lại',
                                icon: 'warning',
                                confirmButtonText: 'OK'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = response.redirectUrl;  // Chuyển hướng sau khi ấn OK
                                }
                            });
                        } else {
                            if (response.result == "PASS") {
                                userFavorite = response.data;
                                if (userFavorite.length > 0) {
                                    $("#myinterest").empty();
                                    $("#checkmodal").empty();
                                    $("#checkmodal").append(`<span id="showInterest" style="padding:4px 0 4px 4px" class="profile-link">
                                            Hiển thị
                                        </span>`)
                                    $("#countInterest").text(`Sở thích của bạn(${userFavorite.length})`)
                                }
                                $("#closeInterest").click();
                            }
                        }
                        
                    },
                    error: function (xhr, status, error) {
                      
                    }
                })
            })

            $("#savename").click(function () {
                var name = $("#editname").val();
                if (name == "") {
                    openToast('warning', 'Lỗi', "Vui lòng nhập tên!", 2500);
                    return;
                }
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("EditName", "HomeDashboard")",
                    data: {
                        userid: userid,
                        name: name
                    },
                    success: function (response) {
                        if (response.result == "PASS") {
                            console.log(response.data)
                            if (response.data != "") {
                                $('<span>', {
                                    id: 'nameshow',
                                    style: 'color: rgb(110, 110, 110); font-weight: 600;font-size:13px;',
                                    html: response.data
                                }).insertBefore(".button-add");
                                $(".button-add").remove();
                            } else {
                                $("#editname").val("")
                            }
                            $("#close").click();
                        } else {
                            openToast('warning', 'Lỗi', response.msg, 2500);
                        }
                    },
                    error: function (err) {
                        openToast('error', 'Error', 'Đã có lỗi xảy ra.', 2500);
                    }
                })

            })
        })
    </script>
}