@{
    Layout = "_LayoutUser";
    ViewBag.Title = "Báo cáo chi tiết";
    @using EduQuiz.Helper;
}
@model EduQuiz.Models.ReportDetail
<link href="~/src/css/js/datatable/datatables.min.css" rel="stylesheet" />
<script src="~/src/css/js/datatable/datatables.min.js" defer></script>
<link href="~/src/css/report.css" rel="stylesheet" />
<div class="content">
    <div class="layout-index" style="flex-direction:column;">
        <partial name="_TabReport" model="@Model" />
        <div class="report-detail-summary">
            <section class="report-detail-summary__OverviewWrapper">
                <div class="report-detail-summary__ScoreWrapper">
                    <div class="live-game-summary__LiveGameSummary">
                        <div class="live-game-summary__Accuracy">
                            <div class="overview-accuracy-icon__Wrapper">
                                <div class="progress-icon__Wrapper">
                                    <svg style="transform: rotate(-90deg);" width="150" height="150" viewBox="0 0 150 150">
                                        <circle stroke-dashoffset="0" stroke="#f2f2f2" stroke-dasharray="376.99111843077515" cx="75" cy="75" r="60" fill="transparent" stroke-width="8"></circle>
                                        <circle stroke-dashoffset="@CalculateHelper.CalculateValueFromPercentage((Model.TotalAccuracy >0 ? Model.TotalAccuracy : 0) ?? 0)" stroke="#26890c" stroke-linecap="round" stroke-dasharray="376.99111843077515" cx="75" cy="75" r="60" fill="transparent" stroke-width="12"></circle>
                                    </svg>
                                </div>
                                <div class="overview-accuracy-icon__PercentageWrapper">
                                    <span class="overview-accuracy__Text">@(Model.TotalAccuracy > 0 ? Model.TotalAccuracy : 0)%</span>
                                    <span class="overview-accuracy__Description">Chính xác</span>
                                </div>
                            </div>
                        </div>
                        <div class="live-game-summary__AccuracyTextWrapper">
                            <h3 class="live-game-summary__WellPlayed">Chỉ số chính xác</h3>
                            <p class="summary__note">Đây là tỷ lệ tổng số câu trả lời chính xác so với tổng số câu hỏi được đặt ra và tổng số người chơi tham gia phiên, giúp đánh giá hiệu suất tổng thể của toàn bộ người chơi.</p>
                        </div>
                    </div>
                </div>
                <div class="report-detail-summary__FlexWrapper">
                    <div class="report-detail-summary__FlexWrapperRow">
                        <div class="report-detail-summary__SmallerBox">
                            <div class="stats-card__StatsCard">
                                <span class="stats-card__StatsRow">
                                    <span class="icon__Icon" style="width:32px;height:32px">
                                        <svg viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0" aria-hidden="true"><title>Icon</title><path d="M16,16 C13.2385763,16 11,13.7614237 11,11 C11,8.23857625 13.2385763,6 16,6 C18.7614237,6 21,8.23857625 21,11 C21,13.7614237 18.7614237,16 16,16 Z M25,24.3125 L7,24.3125 C7,20.2739178 11.0294373,17 16,17 C20.9705627,17 25,20.2739178 25,24.3125 Z" style="fill: rgb(134, 76, 191);"></path></svg>
                                    </span>
                                    <span class="stats-card__Text">
                                        <a href="">Người chơi</a>
                                    </span>
                                    <span class="stats-card__CountBox">
                                        <span class="stats-card__CountText">@Model.PlayerCount</span>
                                    </span>
                                </span>
                                <span class="stats-card__StatsRow">
                                    <span class="icon__Icon" style="width:32px;height:32px">
                                        <svg viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0" aria-hidden="true"><title>Icon</title><path d="M16 6c5.52 0 10 4.48 10 10s-4.48 10-10 10S6 21.52 6 16 10.48 6 16 6zm1 14h-2v2h2v-2zm-1-10c-2.21 0-4 1.79-4 4h2l.006-.149A2.007 2.007 0 0116 12c1.1 0 2 .9 2 2 0 2-3 1.75-3 5h2l.012-.242C17.218 16.728 20 16.408 20 14c0-2.21-1.79-4-4-4z" style="fill: rgb(19, 104, 206);"></path></svg>
                                    </span>
                                    <span class="stats-card__Text">
                                        <a href="">Câu hỏi</a>
                                    </span>
                                    <span class="stats-card__CountBox">
                                        <span class="stats-card__CountText">@Model.QuestionCount</span>
                                    </span>
                                </span>
                                <span class="stats-card__StatsRow">
                                    <span class="icon__Icon" style="width:32px;height:32px">
                                        <svg viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0" aria-hidden="true"><title>Icon</title><path d="M16 6C21.52 6 26 10.48 26 16S21.52 26 16 26 6 21.52 6 16 10.48 6 16 6ZM17 11H15V18H17V11Z" style="fill: rgb(10, 163, 163);"></path></svg>
                                    </span>
                                    <span class="stats-card__Text">
                                        <a href="">Thời gian</a>
                                    </span>
                                    <span class="stats-card__CountBox">
                                        <span class="stats-card__CountText">@Model.TimeSession phút</span>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="report-detail-summary__SmallerBox">
                            <div class="report-action-view__ReportActionView">
                                <div class="report-action-view__BoxWrapper">
                                    <div class="report-action-box__ActionBox">
                                        <div class="report-action-box__ActionIcon"></div>
                                        <div class="report-action-box__Actions">
                                            <div class="report-action-box__ButtonWrapper">
                                                <a href ="javascript:void(0);" onclick="RedirectToPodiumQuizSession();" class="btn">Xem bục vinh quang</a>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="tip-note"><strong>Ghi chú</strong>
                                        Tăng mức độ tương tác của người chơi bằng cách chia sẻ bục giảng.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <section class="advanced-reports__FlexBottomWrapper">
                <div class="advanced-reports__ReportsHeader">
                    <h1>Báo cáo chi tiết</h1>
                </div>
                <div class="advanced-reports__FlexFirstWrapper">
                    <div class="report-detail__Card">
                        <div class="report-detail__CardTitleWrapper">
                            <h3 class="card__ContentTitle">Câu hỏi khó(@Model.QuestionDifficults.Count)</h3>
                            <div class="note-detail__CardContent">
                                <span id="note-question" class="icon__Icon" style="width:32px;height:32px;">
                                    <svg viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0" aria-hidden="true"><title>Icon</title><path d="M15,22 L17,22 L17,20 L15,20 L15,22 Z M16,6 C10.48,6 6,10.48 6,16 C6,21.52 10.48,26 16,26 C21.52,26 26,21.52 26,16 C26,10.48 21.52,6 16,6 Z M16,24 C11.59,24 8,20.41 8,16 C8,11.59 11.59,8 16,8 C20.41,8 24,11.59 24,16 C24,20.41 20.41,24 16,24 Z M16,10 C13.79,10 12,11.79 12,14 L14,14 C14,12.9 14.9,12 16,12 C17.1,12 18,12.9 18,14 C18,16 15,15.75 15,19 L17,19 C17,16.75 20,16.5 20,14 C20,11.79 18.21,10 16,10 Z" style="fill: rgb(110, 110, 110);"></path></svg>
                                </span>
                            </div>
                        </div>
                        <div class="summary-card__ContentWrapper">
                            <div class="difficult-questions-card__InnerWrapper">
                                @if (Model.QuestionDifficults.Count != 0)
                                {
                                    <div class="difficult-questions-card__QuestionWrapper">
                                        @foreach (var question in Model.QuestionDifficults)
                                        {
                                            <button class="difficult-questions-card__QuestionCard" onclick="OpenModalReportQuestion(@question.QuestionId)">
                                                <div class="difficult-questions-card__TopSection">
                                                    <div class="difficult-questions-card__QuestionDetails">
                                                        <span class="difficult-questions-card__QuestionType">@question.Order - @question.TypeQuestion</span>
                                                        <h1 class="difficult-questions-card__QuestionTitle">@question.QuestionTitle</h1>
                                                    </div>
                                                    @if (question.QuestionImage != "" && question.QuestionImage != null)
                                                    {
                                                        <div class="report-media-image__Question" style="background-image: url(@question.QuestionImage);"></div>
                                                    }
                                                </div>
                                                <div class="difficult-questions-card__GreySection">
                                                    <div class="difficult-questions-card__Accuracy">
                                                        <div class="difficult-questions-card__IconWrapper">
                                                            <div class="progress-icon__Wrapper" style="margin:0;height:30px;min-height:30px;width:30px;min-width:30px">
                                                                <svg style="transform: rotate(-90deg);" width="30" height="30" viewBox="0 0 30 30" class="progress-icon__DonutSvg-sc-8topvy-0 iPAjKU">
                                                                    <circle stroke-dashoffset="0" stroke="#e21b3c" stroke-dasharray="75.39822368615503" cx="15" cy="15" r="12" fill="transparent" stroke-width="4"></circle>
                                                                    <circle stroke-dashoffset="@CalculateHelper.CalculateValueFromPercentageQuestion(question.Accuracy ?? 0)" stroke="#fff" stroke-linecap="round" stroke-dasharray="75.39822368615503" cx="15" cy="15" r="12" fill="transparent" stroke-width="6"></circle>
                                                                    <circle stroke-dashoffset="@CalculateHelper.CalculateValueFromPercentageQuestion(question.Accuracy ?? 0)" stroke="#26890c" stroke-linecap="round" stroke-dasharray="75.39822368615503" cx="15" cy="15" r="12" fill="transparent" stroke-width="4"></circle>
                                                                </svg>
                                                            </div>
                                                        </div>
                                                        <span> @question.Accuracy% đúng</span>
                                                    </div>
                                                    <div class="difficult-questions-card__AverageTime">
                                                        <span class="icon__Icon" style="width:32px;height:32px">
                                                            <svg viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0" aria-hidden="true"><title>Icon</title><path d="M16,26 C10.486,26 6,21.515 6,16 C6,10.487 10.486,6 16,6 C21.514,6 26,10.486 26,16 C26,21.515 21.514,26 16,26 Z M16,8 C11.589,8 8,11.589 8,16 C8,20.411 11.589,24 16,24 C20.411,24 24,20.411 24,16 C24,11.589 20.411,8 16,8 Z M15,11 L17,11 L17,18 L15,18 L15,11 Z" style="fill: rgb(0, 0, 0);"></path></svg>
                                                        </span>
                                                        <span>Trung bình: @question.AverageTime giây</span>
                                                    </div>
                                                </div>
                                            </button>
                                        }
                                    </div> 
                                }else{
                                    <div class="report-card__EmptyWrapper">Làm tốt lắm! Không ai thấy câu hỏi nào quá khó.</div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="advanced-reports__FlexHalfWrapper">
                    <div class="need-help-card__NeedHelpCard">
                        <div class="report-detail__CardTitleWrapper">
                            <h3 class="card__ContentTitle">Trả lời đúng thấp(@Model.PlayersBelowAvg.Count)</h3>
                            <div class="note-detail__CardContent">
                                <span id="note-belowavg" class="icon__Icon" style="width:32px;height:32px;">
                                    <svg viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0" aria-hidden="true"><title>Icon</title><path d="M15,22 L17,22 L17,20 L15,20 L15,22 Z M16,6 C10.48,6 6,10.48 6,16 C6,21.52 10.48,26 16,26 C21.52,26 26,21.52 26,16 C26,10.48 21.52,6 16,6 Z M16,24 C11.59,24 8,20.41 8,16 C8,11.59 11.59,8 16,8 C20.41,8 24,11.59 24,16 C24,20.41 20.41,24 16,24 Z M16,10 C13.79,10 12,11.79 12,14 L14,14 C14,12.9 14.9,12 16,12 C17.1,12 18,12.9 18,14 C18,16 15,15.75 15,19 L17,19 C17,16.75 20,16.5 20,14 C20,11.79 18.21,10 16,10 Z" style="fill: rgb(110, 110, 110);"></path></svg>
                                </span>
                            </div>
                        </div>
                        <div class="summary-card__ContentWrapper">
                            <div class="card__PlayersList">
                                @if (Model.PlayersBelowAvg.Count != 0)
                                {
                                    foreach (var playerBlowAvg in Model.PlayersBelowAvg)
                                    {
                                        <button class="card__PlayersList-btnRow" onclick="OpenModalReportPlayer(@playerBlowAvg.PlayerId)">
                                            <span class="card__PlayersList-Name">@playerBlowAvg.PlayerName</span>
                                            <div class="progress-icon__Wrapper" style="margin:0;height:54px;min-height:54px;width:54px;min-width:54px;justify-content:center;">
                                                <svg style="transform: rotate(-90deg);" width="30" height="30" viewBox="0 0 30 30" class="progress-icon__DonutSvg-sc-8topvy-0 iPAjKU">
                                                    <circle stroke-dashoffset="0" stroke="#e21b3c" stroke-dasharray="75.39822368615503" cx="15" cy="15" r="12" fill="transparent" stroke-width="4"></circle>
                                                    <circle stroke-dashoffset="@CalculateHelper.CalculateValueFromPercentageQuestion(playerBlowAvg.Accuracy ?? 0)" stroke="#fff" stroke-linecap="round" stroke-dasharray="75.39822368615503" cx="15" cy="15" r="12" fill="transparent" stroke-width="6"></circle>
                                                    <circle stroke-dashoffset="@CalculateHelper.CalculateValueFromPercentageQuestion(playerBlowAvg.Accuracy ?? 0)" stroke="#26890c" stroke-linecap="round" stroke-dasharray="75.39822368615503" cx="15" cy="15" r="12" fill="transparent" stroke-width="4"></circle>
                                                </svg>
                                            </div>
                                            <div class="stats-card__CountText" style="font-size:0.875rem;min-width:fit-content">@playerBlowAvg.Accuracy%</div>
                                        </button>
                                    }
                                }
                                else
                                {
                                    <div class="report-card__EmptyWrapper">Không có ai trả lời dưới trung bình.</div>
                                }
                            </div>
                        </div>
                      
                    </div>
                    <div class="not-finish-card__NotFinishCard">
                        <div class="report-detail__CardTitleWrapper">
                            <h3 class="card__ContentTitle">Chưa hoàn thành(@Model.PlayersNotFinish.Count)</h3>
                            <div class="note-detail__CardContent">
                                <span id="note-notfinish" class="icon__Icon" style="width:32px;height:32px;">
                                    <svg viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0" aria-hidden="true"><title>Icon</title><path d="M15,22 L17,22 L17,20 L15,20 L15,22 Z M16,6 C10.48,6 6,10.48 6,16 C6,21.52 10.48,26 16,26 C21.52,26 26,21.52 26,16 C26,10.48 21.52,6 16,6 Z M16,24 C11.59,24 8,20.41 8,16 C8,11.59 11.59,8 16,8 C20.41,8 24,11.59 24,16 C24,20.41 20.41,24 16,24 Z M16,10 C13.79,10 12,11.79 12,14 L14,14 C14,12.9 14.9,12 16,12 C17.1,12 18,12.9 18,14 C18,16 15,15.75 15,19 L17,19 C17,16.75 20,16.5 20,14 C20,11.79 18.21,10 16,10 Z" style="fill: rgb(110, 110, 110);"></path></svg>
                                </span>
                            </div>

                        </div>
                        <div class="summary-card__ContentWrapper">
                            <div class="card__PlayersList">
                                @if(Model.PlayersNotFinish.Count != 0)
                                {
                                    foreach(var playerNotFinish in Model.PlayersNotFinish)
                                    {
                                        <button class="card__PlayersList-btnRow" onclick="OpenModalReportPlayer(@playerNotFinish.PlayerId)" style="padding:16px;">
                                            <span class="card__PlayersList-Name">@playerNotFinish.PlayerName</span>
                                            <div class="stats-card__CountText" style="font-size:0.875rem;min-width:fit-content">@playerNotFinish.CountNotAnswer câu</div>
                                        </button>
                                    }
                                }
                                else
                                {
                                    <div class="report-card__EmptyWrapper">Tuyệt vời! Mọi người đã hoàn thành.</div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    const svgTrueFalse = [
        '<svg viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0" aria-hidden="true"><title>Icon</title><path d="M12.926 22.652L8 17.725 9.767 15.957 12.841 19.031 21.959 9 23.808 10.682z" style="fill: rgb(38, 137, 12);"></path></svg>',
        '<svg viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0" aria-hidden="true"><title>Icon</title><path d="M24.714 8.414L23.3 7 16.007 14.293 8.714 7 7.3 8.414 14.593 15.707 7.3 23 8.714 24.414 16.007 17.122 23.3 24.414 24.714 23 17.421 15.707z" style="fill: rgb(226, 27, 60);"></path></svg>'
    ];
    const svgOption = [
        '<svg viewBox="0 0 32 32" focusable="false" stroke="rgba(0, 0, 0, 0.15)" stroke-width="1.3px" aria-hidden="true" style="paint-order: stroke;"><title>Icon</title><path d="M27,24.559972 L5,24.559972 L16,7 L27,24.559972 Z" style="fill: #fff;"></path></svg>',
        '<svg viewBox="0 0 32 32" focusable="false" stroke="rgba(0, 0, 0, 0.15)" stroke-width="1.3px" aria-hidden="true" style="paint-order: stroke;"><title>Icon</title><path d="M4,16.0038341 L16,4 L28,16.0007668 L16,28 L4,16.0038341 Z" style="fill: #fff;"></path></svg>',
        '<svg viewBox="0 0 32 32" focusable="false" stroke="rgba(0, 0, 0, 0.15)" stroke-width="1.3px" aria-hidden="true" style="paint-order: stroke;"><title>Icon</title><path d="M16,27 C9.92486775,27 5,22.0751322 5,16 C5,9.92486775 9.92486775,5 16,5 C22.0751322,5 27,9.92486775 27,16 C27,22.0751322 22.0751322,27 16,27 Z" style="fill: #fff;"></path></svg>',
        '<svg viewBox="0 0 32 32" focusable="false" stroke="rgba(0, 0, 0, 0.15)" stroke-width="1.3px" aria-hidden="true" style="paint-order: stroke;"><title>Icon</title><path d="M7,7 L25,7 L25,25 L7,25 L7,7 Z" style="fill: #fff;"></path></svg>',
        '<svg viewBox="0 0 32 32" focusable="false" stroke="rgba(0, 0, 0, 0.15)" stroke-width="1.3px" aria-hidden="true" style="paint-order: stroke;"><title>Icon</title><path d="M8.584 27 4 12.786 16 3.982 28 12.786 23.417 27z" style="fill: #fff;"></path></svg>',
        '<svg viewBox="0 0 32 32" focusable="false" stroke="rgba(0, 0, 0, 0.15)" stroke-width="1.3px" aria-hidden="true" style="paint-order: stroke;"><title>Icon</title><path d="M5 8L16 26.857 27 8z" style="fill: #fff;"></path></svg>'
    ];
   
    function OpenModalReportQuestion(value) {
        $.ajax({
            typeof: "POST",
            url: "@Url.Action("GetReportbyQuestion", "Reports")",
            data: {
                idquestion: value,
                quizsessionId: "@Model.QuizSessionId"
            },
            success: function (response) {
                if (response.redirectUrl) {
                    Swal.fire({
                        title: 'Hết phiên đăng nhập',
                        text: 'Vui lòng đăng nhập lại',
                        icon: 'warning',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = response.redirectUrl;
                        }
                    });
                } else {
                    if (response.status == true) {
                        const data = response.data;
                        $("#full-screen-modal-question .dialog-header__IndexWrapper").text(data.order + " - " + data.typeQuestion);
                        $("#full-screen-modal-question .dialog__header_title").text(data.questionText);
                        $("#full-screen-modal-question .report-media-image__Wrapper").css("background-image", `url(${data.image})`);
                        $("#timequestion").text(data.time);
                        $("#typeanswer").text(data.typeAnswer);
                        $("#full-screen-modal-question .report-media-image__Wrapper").css("background-image", `url(${data.image == "" ? '/src/img/img-default.png' : data.image});`);
                        $("#full-screen-modal-question .styles__StatTable").empty();
                        $("#full-screen-modal-question .styles__StatTable").append(`
                                ${data.choices.map((choice, index) => `
                                    <div class="styles__StatRow">
                                            <div class="styles__IconWrapper">
                                                <div class="styles__ChoiceIcon">
                                                    <span class="icon__Icon" style="width: 26px;height: 26px;">
                                                          ${index === data.choices.length - 1 ? '' : svgOption[index % svgOption.length]}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="styles__AnswerText">
                                                <span class="styles__Text">${choice.answer}</span>
                                            </div>
                                            <div class="styles__IconWrapper">
                                                <span class="icon__Icon" style="width:32px;height:32px">
                                                    ${choice.isCorrect ? svgTrueFalse[0] : svgTrueFalse[1]}
                                                </span>
                                            </div>
                                            <div class="styles__ProgressBarWrapper">
                                                    <div class="progress-bar__ProgressBar ${choice.isCorrect ? 'correct' : ''}" style="${'--width:' + choice.percent + '%'}"></div>
                                            </div>
                                                <div class="styles__CountBox">${choice.count}</div>
                                        </div>
                                    `).join('')}
                            `);
                        $("#percent").text(data.correctAccuracy + "%");
                        $("#avgtime").text(data.avgTime + " giây");
                        $("#countanswered").text(data.playerAnsweredCount);
                        $("#circle-white").attr("stroke-dashoffset", data.valueAccuracy);
                        $("#circle-green").attr("stroke-dashoffset", data.valueAccuracy);
                        if ($.fn.DataTable.isDataTable('#myTable')) {
                            $('#myTable').DataTable().clear().destroy(); // Hủy bỏ DataTable cũ
                        }
                        $("#full-screen-modal-question #myTable tbody").empty();
                        $("#full-screen-modal-question #myTable tbody").append(`
                                ${data.playerAnswers.map((playeranswer) => `
                                           <tr>
                                                <td>${playeranswer.nickname}</td>
                                                <td>${playeranswer.answered}</td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="styles__IconWrapper" style="margin:0">
                                                            <span class="icon__Icon" style="width:32px;height:32px">
                                                               ${playeranswer.isCorrect ? svgTrueFalse[0] : svgTrueFalse[1]}
                                                            </span>
                                                        </div>
                                                                <span>${playeranswer.isCorrect ? "Đúng" : "Sai"}</span>
                                                    </div>
                                                    </td>
                                                    <td>${playeranswer.timeTaken != "--" ? playeranswer.timeTaken + " s" : "--"}</td>
                                                <td>${playeranswer.points}</td>
                                            </tr>
                                            `).join('')}
                            `);
                        $('#myTable').DataTable();
                    }
                }
            }
        });
        $("#full-screen-modal-question").removeClass("d-none");
        $("body").addClass("modal-open");
    }
    function OpenModalReportPlayer(value) {
        $.ajax({
            typeof: "POST",
            url: "@Url.Action("GetReportbyPlayer", "Reports")",
            data: {
                idplayer: value,
                quizsessionId: "@Model.QuizSessionId"
            },
            success: function (response) {
                if (response.redirectUrl) {
                    Swal.fire({
                        title: 'Hết phiên đăng nhập',
                        text: 'Vui lòng đăng nhập lại',
                        icon: 'warning',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = response.redirectUrl;
                        }
                    });
                } else {
                    if (response.status == true) {
                        const data= response.data;
                        $("#circle-player-white").attr("stroke-dashoffset", data.valueAccuracy);
                        $("#circle-player-green").attr("stroke-dashoffset", data.valueAccuracy);
                        $("#full-screen-modal-player .dialog__header_title").text(data.nickName);
                        $(".player-detail-dialog__PrimaryLabel").text(data.accuracy);
                        $("#ranked").text(data.rank);
                        $("#player-answered").text(data.answered);
                        $("#final-score").text(data.totalScore);
                        if ($.fn.DataTable.isDataTable('#myTable')) {
                            $('#myTable').DataTable().clear().destroy(); // Hủy bỏ DataTable cũ
                        }
                        $("#full-screen-modal-player #myTablePlayer tbody").empty();
                        $("#full-screen-modal-player #myTablePlayer tbody").append(`
                                ${data.detailedAnswers.map((playeranswer) => `
                                           <tr>
                                                <td>
                                                    <div class="d-flex">
                                                        <span style="margin-inline: 0.7rem 1.3rem;">${playeranswer.questionOrder}</span>
                                                        <strong>${playeranswer.questionText}</strong>
                                                    </div>
                                                </td>
                                                <td>${playeranswer.typeQuestion}</td>
                                                <td>${playeranswer.answer}</td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="styles__IconWrapper" style="margin:0">
                                                            <span class="icon__Icon" style="width:32px;height:32px">
                                                               ${playeranswer.isCorrect ? svgTrueFalse[0] : svgTrueFalse[1]}
                                                            </span>
                                                        </div>
                                                                <span>${playeranswer.isCorrect ? "Đúng" : "Sai"}</span>
                                                    </div>
                                                    </td>
                                                    <td>${playeranswer.timeTaken != "--" ? playeranswer.timeTaken + " s" : "--"}</td>
                                                <td>${playeranswer.point}</td>
                                            </tr>
                                            `).join('')}
                            `);
                        $('#myTablePlayer').DataTable();
                    }
                    
                }
            }
        })
        $("#full-screen-modal-player").removeClass("d-none");
        $("body").addClass("modal-open");
    }
    $(document).on("click", "#full-screen-modal-player .dialog__close-button", function () {
        $('#full-screen-modal-player').addClass('d-none');
        $("body").removeClass("modal-open");
    });
    $(document).on("click", "#full-screen-modal-question .dialog__close-button", function () {
        $('#full-screen-modal-question').addClass('d-none');
        $("body").removeClass("modal-open");
    });
    $(document).on('click', function (event) {
        if (!$(event.target).closest('.modal-custom__Report,.difficult-questions-card__QuestionCard,.card__PlayersList-btnRow').length) {
            $('#full-screen-modal-question').addClass('d-none');
            $('#full-screen-modal-player').addClass('d-none');
            $("body").removeClass("modal-open");
        }
    });
  
    tippy('#note-question', {
        content: "Một câu hỏi được coi là khó nếu có ít hơn 35 % người tham gia trả lời đúng.",
    });
    tippy('#note-belowavg', {
        content: "Phần này nêu bật những người tham gia trả lời đúng dưới 50% trong toàn bộ trò chơi",
    });
    tippy('#note-notfinish', {
        content: "Người chơi có câu hỏi chưa hoàn thành hoặc là không nộp câu trả lời đúng hạn hoặc là họ đã rời khỏi trò chơi trước khi hoàn thành.",
    });
   
        
    var currentUrl = window.location.href;
    function RedirectToPodiumQuizSession() {
        location.href = `${currentUrl}/podium`;
    }
</script>