@{
    Layout = "_LayoutUser";
    ViewBag.Title = "EduQuiz chi tiết";
    @model EduQuiz.Models.EduQuizData;
    @using Newtonsoft.Json;
    var data = JsonConvert.DeserializeObject<dynamic>(ViewBag.Data);
    var now = DateTime.Now;
    var updateAt = Model.UpdateAt;
    string timeAgo = "Vừa xong";

    if (updateAt.HasValue)
    {
        var timeSpan = now - updateAt.Value;

        if (timeSpan.TotalDays >= 1)
            timeAgo = $"{(int)timeSpan.TotalDays} ngày trước";
        else if (timeSpan.TotalHours >= 1)
            timeAgo = $"{(int)timeSpan.TotalHours} giờ trước";
        else if (timeSpan.TotalMinutes >= 1)
            timeAgo = $"{(int)timeSpan.TotalMinutes} phút trước";
    }
}
@section styles{
    <link href="~/src/css/detail.css" rel="stylesheet" />
}
<!-- End Navbar -->
<div class="content" style="padding:0;margin-top:63px;">
    <div class="layout-detail">
        <div class="col-md-3 sidebar-wrapper__detail" style="min-height:400px;padding:0;">
         
            <div class="layout-card" style="padding:0;margin:0;height:calc(100vh - 63px) ">
                <div class="image-QuestionCover" style="@($"background: url({Model.ImageCover}) center center / cover no-repeat;")"></div>
                <div class="sidebar-Flex">
                    <h3 class="eduQuiz__detail-title">@Model.Title</h3>
                    <div class="sidebar__StatsAndAction">
                        <div class="statistics__Wrapper">
                            <div>@data.QuizSessionCount lượt chơi</div>
                            <div class="ml-2">@data.PlayerCount người chơi</div>
                        </div>
                        <div class="sidebar__EduQuizAction">
                            @if (data.UserCurrent == Model.UserId)
                            {
                                <a href="@Url.Action("Index","Creator",new {id = Model.Uuid})" class="styles__EditButton"><span><svg viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0" aria-labelledby="label-3fb64b4c-808e-41da-95bb-d2802e718cd6" aria-hidden="true" class="icon__Svg-sc-xvsbpg-1 ipIYNE"><title id="label-3fb64b4c-808e-41da-95bb-d2802e718cd6">Icon</title><path d="M23.4091683,8.594 C24.1731683,9.359 24.1731683,10.693 23.4091683,11.458 L22.6901683,12.178 L19.8241683,9.313 L20.5451683,8.594 C21.3101683,7.83 22.6441683,7.829 23.4091683,8.594 L23.4091683,8.594 Z M8.37616832,23.626 L8.97116832,21.252 L10.7501683,23.033 L8.37616832,23.626 Z M18.4111683,10.728 L21.2741683,13.591 L12.7061683,22.159 L9.84316832,19.296 L18.4111683,10.728 Z M24.8211683,7.179 C24.0611683,6.418 23.0501683,6 21.9741683,6 C20.9001683,6 19.8881683,6.418 19.1281683,7.179 L7.71916832,18.587 C7.71916832,18.587 7.71816832,18.59 7.71716832,18.591 C7.63616832,18.673 7.49716832,18.889 7.45616832,19.052 L6.03016832,24.757 C5.94416832,25.097 6.04516832,25.458 6.29316832,25.706 L6.29416832,25.707 L6.29616832,25.708 C6.54416832,25.956 6.90416832,26.057 7.24516832,25.972 L12.9491683,24.545 C13.1121683,24.504 13.3291683,24.365 13.4101683,24.284 C13.4111683,24.283 13.4141683,24.282 13.4141683,24.282 L24.8231683,12.873 C25.5831683,12.113 26.0021683,11.102 26.0011683,10.027 C26.0011683,8.951 25.5831683,7.941 24.8231683,7.18 L24.8211683,7.179 Z" style="fill: rgb(110, 110, 110);"></path></svg></span></a>
                            }
                            
                            <button id="favorite" data-id="@Model.Id" class="styles__EditButton @(data.IsFavorite==true? "liked" :"")">
                                <span>
                                    <svg viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0" aria-labelledby="label-927757d9-5516-44bb-afbd-9c98d0bd4071" aria-hidden="true" class="icon__Svg-sc-xvsbpg-1 ipIYNE">
                                        <title id="label-927757d9-5516-44bb-afbd-9c98d0bd4071">Icon</title>
                                        <path class="favorite-path"  d="M26.9667277,12.3896591 C27.2256479,12.411986 27.4657062,12.5342334 27.6360473,12.7305039 C27.9980468,13.1476068 27.9533765,13.7791941 27.5362736,14.1411935 L22.0538904,18.8992985 L23.6929324,25.9682956 C23.751701,26.2217575 23.7093679,26.488145 23.5749207,26.710902 C23.2895358,27.183738 22.6748763,27.3356972 22.2020403,27.0503124 L15.9872238,23.2992985 L9.77622335,27.0480091 C9.55306656,27.1826976 9.28613973,27.2249318 9.03230252,27.1657152 C8.49445923,27.0402439 8.16016565,26.5025212 8.28563692,25.9646779 L9.93389043,18.8992985 L4.44528483,14.1445175 C4.24826151,13.9738361 4.12567319,13.7329675 4.10363686,13.4732278 C4.05694871,12.92292 4.4652131,12.4389591 5.01552089,12.392271 L12.2405571,11.7792985 L15.0672007,5.11002917 C15.1684118,4.87122854 15.3584445,4.68109269 15.5971902,4.57975201 C16.1055716,4.36395868 16.6926313,4.6011482 16.9084246,5.10952964 L19.7338904,11.7659652 L26.9667277,12.3896591 Z M15.9872238,20.8059652 L21.0138904,23.8459652 L19.6805571,18.1392985 L24.1072238,14.2992985 L18.2672238,13.7926319 L15.9872238,8.40596519 L13.7205571,13.7792985 L7.8805571,14.2859652 L12.3072238,18.1259652 L10.9738904,23.8326319 L15.9872238,20.8059652 Z"></path>
                                    </svg>
                                </span>
                            </button>
                        </div>
                    </div>
                   <div style="min-height:42px;margin-top:10px">
                        <button type="button" class="btn" style="width:fit-content;background-color:rgb(183, 141, 0)" onclick="RedirectPlay(`@Model.Uuid`)">Bắt đầu chơi</button>
                   </div>
                    
                    <div class="EduQuiz-description__Wrapper">
                        <span class="EduQuiz-descriptionInfo">@Model.Description</span>
                        <div class="sidebar__VisibilityInfo"><span><i style="font-size:16px;margin-right:10px;" class="fa @(Model.Type ==0 ?"fa-user" :"fa-globe")" aria-hidden="true"></i></span>Một EduQuiz @(Model.Type == 0 ? "Riêng tư" : "Công khai")</div>

                            <div class="EduQuizInfo-User">
                            <a class="img-user" href="#" style="background: url('@data.Avatar') 100% center / cover no-repeat rgb(242, 242, 242);"></a>
                                <div class="d-flex flex-column">
                                <a href="#" style="font-weight: 600; color:#333">@data.UserName</a>
                                <span>@timeAgo</span>
                                </div>
                            </div>
        
                    </div>
                </div>
            </div>
        </div>
        <div class="EduQuiz-detail_Content" style="min-height:600px;padding:0">
            <div class="root__Wrapper">
                <section class="content-section__Content">
                    <div class="section-detail__Header">
                        <h3 class="section-detail__Header-Title">Bộ câu hỏi <span>(@Model.Questions.Count)</span></h3>
                        <button class="header__ShowAnswers">Hiển thị đáp án</button>
                    </div>
                    <ul class="questions-list__Wrapper">
                        @{
                            int count = 1;
                        }
                        @foreach(var question in Model.Questions)
                        {
                            <li class="questions-list__Wrapper-item">
                                <div class="styles__QuestionBlock">
                                    <div class="styles__QuestionBlock-Header">
                                        <button class="styles__Group-Quesion-btn" data-question="@count">
                                            <div class="styles__QuestionTypeWrapper">
                                                <span class="styles__QuestionTitle">
                                                    <span>@count</span>
                                                    <span> - </span>
                                                    <span>@(question.TypeQuestion == "quiz" ? "Đố vui" : question.TypeQuestion == "true_false" ? "Đúng hoặc sai" : "Nhập đáp án")</span>
                                                </span>
                                            </div>
                                            <span class="styles__Question">@question.QuestionText</span>
                                        </button>
                                        <div class="styles__QuestionImg-Block">
                                            <div class="styles__Image-Question" style='@(question.Image != "" ? $"background: url({question.Image}) center center / cover no-repeat;" : "" )'>
                                                @if(question.Image == "")
                                                {
                                                    <div style="width: 32px;height: 32px;background: url(/src/img/img-default.png) center center / cover no-repeat rgb(242, 242, 242);">
                                                    </div>
                                                }
                                                <div class="styles_Question-Time">
                                                    @switch (question.Time)
                                                    {
                                                        case 5:
                                                            <span>5 giây</span>
                                                            break;
                                                        case 10:
                                                            <span>10 giây</span>
                                                            break;
                                                        case 20:
                                                            <span>20 giây</span>
                                                            break;
                                                        case 30:
                                                            <span>30 giây</span>
                                                            break;
                                                        case 60:
                                                            <span>1 phút</span>
                                                            break;
                                                        case 90:
                                                            <span>1 phút 30 giây</span>
                                                            break;
                                                        case 120:
                                                            <span>2 phút</span>
                                                            break;
                                                        case 180:
                                                            <span>3 phút</span>
                                                            break;
                                                        case 240:
                                                            <span>4 phút</span>
                                                            break;
                                                        default:
                                                            <span>@question.Time giây</span>
                                                            break;
                                                    }
  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="styles__Choices-wrapper d-none" id="question-@count">
                                        @foreach (var choice in question.Choices)
                                        {
                                            var backgroundColor = "";
                                            var svgPath = "";


                                            // Gán các giá trị khác nhau dựa trên chỉ số hoặc nội dung của lựa chọn
                                            if (choice == question.Choices[0])
                                            {
                                                backgroundColor = "rgb(226, 27, 60)";
                                                svgPath = "M27,24.559972 L5,24.559972 L16,7 L27,24.559972 Z";
                                            }
                                            else if (choice == question.Choices[1])
                                            {
                                                backgroundColor = "rgb(19, 104, 206)";
                                                svgPath = "M4,16.0038341 L16,4 L28,16.0007668 L16,28 L4,16.0038341 Z";
  
                                            }
                                            else if (choice == question.Choices[2])
                                            {
                                                backgroundColor = "rgb(216, 158, 0)";
                                                svgPath = "M16,27 C9.92486775,27 5,22.0751322 5,16 C5,9.92486775 9.92486775,5 16,5 C22.0751322,5 27,9.92486775 27,16 C27,22.0751322 22.0751322,27 16,27 Z";
                                            }
                                            else if (choice == question.Choices[3])
                                            {
                                                backgroundColor = "rgb(38, 137, 12)";
                                                svgPath = "M7,7 L25,7 L25,25 L7,25 L7,7 Z";
                                            }
                                            else if (choice == question.Choices[4])
                                            {
                                                backgroundColor = "rgb(10, 163, 163)";
                                                svgPath = "M8.584 27 4 12.786 16 3.982 28 12.786 23.417 27z";
                                            }
                                            else if (choice == question.Choices[5])
                                            {
                                                backgroundColor = "rgb(134, 76, 191)";
                                                svgPath = "M5 8L16 26.857 27 8z";
                                            }
                                            <div class="styles__Choice">
                                                <div class="styles__Choice-content">
                                                    <div class="styles__TextWrapper">
                                                        <div class="styles__IconWrapper" style="background-color: @(backgroundColor);">
                                                            <span>
                                                                <svg viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0"  aria-hidden="true" >
                                                                    <title>Icon</title>
                                                                    <path d="@svgPath" style="fill: #fff;"></path>
                                                                </svg>
                                                            </span>
                                                        </div>
                                                        <span class="ml-3">@choice.Answer</span>
                                                    </div>
                                                    <div class="styles__IconWrapper" style="background:none">
                                                        @if (choice.IsCorrect)
                                                        {
                                                            <span>
                                                                <!-- SVG for correct answer -->
                                                                <svg viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0" aria-labelledby="label-5f8b21c5-1ea7-469e-8f2a-f639d772b4b8" aria-hidden="true" class="icon__Svg-sc-xvsbpg-1 ipIYNE">
                                                                    <title id="label-5f8b21c5-1ea7-469e-8f2a-f639d772b4b8">Icon</title>
                                                                    <path d="M12.926 22.652L8 17.725 9.767 15.957 12.841 19.031 21.959 9 23.808 10.682z" style="fill: rgb(38, 137, 12);"></path>
                                                                </svg>
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span>
                                                                <!-- SVG for incorrect answer -->
                                                                <svg viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0" aria-labelledby="label-091074c2-71f6-4baf-b542-ad41dddd38fe" aria-hidden="true" class="icon__Svg-sc-xvsbpg-1 ipIYNE">
                                                                    <title id="label-091074c2-71f6-4baf-b542-ad41dddd38fe">Icon</title>
                                                                    <path d="M24.714 8.414L23.3 7 16.007 14.293 8.714 7 7.3 8.414 14.593 15.707 7.3 23 8.714 24.414 16.007 17.122 23.3 24.414 24.714 23 17.421 15.707z" style="fill: rgb(226, 27, 60);"></path>
                                                                </svg>
                                                            </span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                            </li>
                            count++;
                        }
                    </ul>
                </section>
           </div>
        </div>
    </div>
</div>
<script>
    $("#favorite").click(function () {
        const check = $(this).hasClass("liked");
        const idquiz = $(this).attr("data-id");
        check ? $(this).removeClass("liked") : $(this).addClass("liked");
        $.ajax({
            type: 'POST',
            url: "@Url.Action("SaveFavoriteEduQuiz", "Detail")",
            data: {
                idquiz : idquiz
            },
            success: function (response) {
            },
            error: function (err) {

            }
        })
    })
    function RedirectPlay(value) {
        location.href = `/playmode?quizId=${value}`;
    }
    $(".styles__Group-Quesion-btn").click(function () {
        let id = $(this).attr("data-question");
        let $element = $(`#question-${id}`);

        if ($element.hasClass("d-none")) {
            $element.removeClass("d-none");
        } else {
            $element.addClass("d-none");
        }
    })
    $(".header__ShowAnswers").click(function () {
        let isHidden = $(this).hasClass("show-all");
        if (isHidden) {
            $(".styles__Choices-wrapper").each(function () {
                $(this).addClass("d-none");
            });
            $(this).text("Hiển thị câu trả lời").removeClass("show-all");
        } else {
            $(".styles__Choices-wrapper").each(function () {
                $(this).removeClass("d-none");
            });
            $(this).text("Ẩn câu trả lời").addClass("show-all");
        }
    });
</script>

    
