@{
    Layout = "_LayoutUser";
    ViewBag.Title = "Nhóm - Bài tập";
    @using EduQuiz.Helper
    @using Microsoft.AspNetCore.Http
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
    var currentPath = HttpContextAccessor.HttpContext.Request.Path.Value;
}
<style>
    .cards-with-search__CardsListWrapper .styles__ContainerCard:hover{
        cursor:pointer;
    }
</style>
@model EduQuiz.Models.GroupViewModel
<link href="~/src/css/library.css" rel="stylesheet" />
<link href="~/src/css/group.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<div class="content" style="padding:0;margin-top:63px;">
    <div class="layout-library">
        <partial name="_SidebarGroup" />
        <div class="library-layout__Content">
            <div class="library-eduquiz__Content">
                <partial name="_TabGroup" model="Model" />
                @if(Model.ListEduQuiAssignment.Count > 0)
                {
                    foreach (var eduquiz in Model.ListEduQuiAssignment)
                    {
                        <div class="styles__ContainerCard">
                            <div class="style__ImgWrapper">
                                <img src="@eduquiz.Image" />
                                <div class="extra-info">
                                    <div class="extra-info__Label">@eduquiz.CountQuestion Câu hỏi</div>
                                </div>

                            </div>
                            <div class="styles__ContentContainer">
                                <div class="styles__LeftContentContainer">
                                    <div class="styles__TopContent">
                                        <div class="styles__MainInfo">
                                            <div class="title__Wrapper">@eduquiz.Title</div>
                                            <p class="description">@eduquiz.Description</p>
                                        </div>
                                    </div>
                                    <div class="styles__BottomContent" style="height:30px">
                                        <div class="styles__BottomInnerWrapper">
                                            <div class="creator">
                                                <img src="@eduquiz.Avatar" />
                                                <div>@eduquiz.Username</div>
                                            </div>
                                            <div class="d-flex flex-column ml-4">
                                                <div><strong>Thời gian bắt đầu</strong>: @eduquiz.StartTime</div>
                                                <div><strong>Thời gian kết thúc</strong>: @StringHelper.ConvertDateTimeToCustomString(eduquiz.EndTime)</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @if (DateTime.Now <= eduquiz.EndTime)
                                {
                                    <div class="styles__ActionsWrapper">
                                        <a href="@Url.Action("Challenge","Group",new{pin = eduquiz.Pin})" target="_blank" class="btn">Chơi ngay</a>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="group-empty-view" style="width:85%;margin-top:10px;">
                        <div class="group-empty-view__Container">
                            <div class="groups-empty-view__Icons">
                                <div class="groups-empty-view__Icon m-0">
                                    <svg width="89" height="48" viewBox="0 0 89 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.000244141" y="16" width="40" height="8" rx="4" fill="white"></rect><rect x="0.000244141" y="32" width="88" height="8" rx="4" fill="white"></rect><rect x="0.000244141" width="72" height="8" rx="4" fill="#45A3E5"></rect><mask id="mask0_635_22151" maskUnits="userSpaceOnUse" x="33" y="9" width="31" height="30" style="mask-type: alpha;"><path fill-rule="evenodd" clip-rule="evenodd" d="M60.0002 16.5585C60.0002 17.016 59.7947 17.445 59.4377 17.73L56.9912 19.6875C56.9927 19.6245 57.0002 19.563 57.0002 19.5V13.5H60.0002V16.5585ZM48.0002 25.5C44.6912 25.5 42.0002 22.809 42.0002 19.5V12H54.0002V19.5C54.0002 22.809 51.3092 25.5 48.0002 25.5ZM36.5642 17.7315C36.2057 17.445 36.0002 17.016 36.0002 16.5585V13.5H39.0002V19.5C39.0002 19.563 39.0077 19.6245 39.0092 19.6875L36.5642 17.7315ZM51.0002 36H45.0002V34.5H51.0002V36ZM61.5002 10.5H56.5832C56.0627 9.6075 55.1057 9 54.0002 9H42.0002C40.8947 9 39.9377 9.6075 39.4172 10.5H34.5002C33.6722 10.5 33.0002 11.172 33.0002 12V16.5585C33.0002 17.9325 33.6152 19.2135 34.6892 20.073L40.9562 25.086C42.3107 26.79 44.2652 27.9885 46.5002 28.365V31.5H43.5002C42.6722 31.5 42.0002 32.172 42.0002 33V36H40.5002V39H43.5002H52.5002H55.5002V36H54.0002V33C54.0002 32.172 53.3282 31.5 52.5002 31.5H49.5002V28.365C51.7352 27.9885 53.6897 26.79 55.0442 25.086L61.3127 20.073C62.3852 19.2135 63.0002 17.9325 63.0002 16.5585V12C63.0002 11.172 62.3282 10.5 61.5002 10.5Z" fill="white"></path></mask><g mask="url(#mask0_635_22151)"><rect width="48" height="48" transform="translate(24.0002)" fill="#0542B9"></rect><rect x="24.0002" width="48" height="48" fill="#0542B9"></rect></g></svg>
                                    <div class="groups-empty-view__IconLabel">Hoàn thành</div>
                                </div>
                            </div>
                            <div class="groups-empty-view__Title">
                                Chỉ định EduQuiz cho nhóm và để các thành viên tìm bài tập của họ tại đây.
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalEduQuizAssignment" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="margin-top:200px" role="document">
        <div class="modal-content" style=" height: 500px;">
            <div class="modal-header" style="border:none">
                <h3 class="modal-title">Thiết lập bài kiểm tra</h3>
            </div>
            <div class="modal-body">
                <label>Thời gian bắt đầu</label>
                <div style="display:flex;gap:20px;margin-bottom:20px">
                    <input class="input__Input" type="text" id="datepickerstart" placeholder="Bắt đầu" />
                    <input class="input__Input" type="text" id="datepickerend" placeholder="Kết thúc" />
                </div>
                <span style="font-weight:bold">Tùy chọn</span>
                <div class="challenge-settings__Label">
                    <div class="challenge-settings__Group">
                        Ngẫu nhiên thứ tự câu hỏi
                    </div>
                    <button class="styles__Toggle" style=" margin-left: 60px; border-radius: 6px;" onclick="settingRole(this,1)">
                        <div class="styles__CheckboxSlider"></div>
                    </button>
                </div>
                <div class="challenge-settings__Label">
                    <div class="challenge-settings__Group">
                        Ngẫu nhiên thứ tự câu trả lời
                    </div>
                    <button class="styles__Toggle" style=" margin-left: 60px; border-radius: 6px;" onclick="settingRole(this,2)">
                        <div class="styles__CheckboxSlider"></div>
                    </button>
                </div>
            </div>
            <div class="modal-footer" style="border:none;justify-content:center">
                <button type="button" class="btn " data-dismiss="modal" style="background-color:rgb(226, 27, 60)">Hủy bỏ</button>
                <button type="button" class="btn " style="background-color:rgb(38, 137, 12)" onclick="SaveAssignment()">Xong</button>
            </div>
        </div>
    </div>
</div>

<script>
    var isRandomQuestion = false;
    var isRandomAnswer = false;
    flatpickr("#datepickerstart", {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        time_24hr: true,
    });

    flatpickr("#datepickerend", {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        time_24hr: true,
    });
    function settingRole(button,flag) {
        let isflag = $(button).hasClass("active");
        if (isflag) {
            $(button).removeClass("active");
            flag == 1 ? isRandomQuestion = false : isRandomAnswer = false;
        } else {
            $(button).addClass("active");
            flag == 1 ? isRandomQuestion = true : isRandomAnswer = true;
        }
    }
    $(document).on("click", ".cards-with-search__CardsListWrapper .styles__ContainerCard",function(){
        const id = $(this).attr("data-id");
        arrEduQuizId.push(id);
        $("#modalEduQuizShare").modal("hide");
        $('#datepickerstart').val('');
        $('#datepickerend').val('');
        $("#modalEduQuizAssignment").modal("show");
    })

    function SaveAssignment() {
        const startdate = $('#datepickerstart').val();
        const enddate = $('#datepickerend').val();
        if (arrEduQuizId.length == 0) {
            openToast('info', 'Lỗi', 'Vui lòng chọn EduQuiz!', 3000);
            return;
        }
        if (startdate == "" || enddate == "") {
            openToast('info', 'Lỗi', 'Vui lòng chọn thời gian làm bài!', 3000);
            return;
        }
        $(".loading").show();
        $.ajax({
            type: "POST",
            url: "@Url.Action("SaveAssignment", "Group")",
            data: {
                groupid: "@Model.Group.Id",
                listeduquizid: arrEduQuizId,
                startdate: startdate,
                enddate: enddate,
                isRandomQuestion: isRandomQuestion,
                isRandomAnswer: isRandomAnswer,
            },
            success: function (response) {
                if (response.redirectUrl) {
                    Swal.fire({
                        title: 'Hết phiên đăng nhập',
                        text: 'Vui lòng đăng nhập lại',
                        icon: 'warning',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = response.redirectUrl;
                        }
                    });
                } else {
                    if (response.status == true) {
                        window.location.reload();
                    } else {
                        $(".loading").hide();
                    }
                }
            },error:function(err){
                $(".loading").hide();
            }
        })
    }

</script>