@{
    Layout = "_LayoutUser";
    ViewBag.Title = "Nhóm - chia sẻ";
    @using Microsoft.AspNetCore.Http
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
    var currentPath = HttpContextAccessor.HttpContext.Request.Path.Value;
}
<link href="~/src/css/library.css" rel="stylesheet" />
<link href="~/src/css/group.css" rel="stylesheet" />
@model EduQuiz.Models.GroupViewModel
<div class="content" style="padding:0;margin-top:63px;">
    <div class="layout-library">
        <partial name="_SidebarGroup" />
        <div class="library-layout__Content">
            <div class="library-eduquiz__Content">
                <partial name="_TabGroup" model="Model" />
                @if(Model.ListEduQuizShared.Count > 0)
                {
                    foreach(var eduquiz in Model.ListEduQuizShared)
                    {
                        <div class="styles__ContainerCard">
                            <div class="style__ImgWrapper">
                                <img src="@eduquiz.Image" />
                                <div class="extra-info">
                                    <div class="extra-info__Label">@eduquiz.CountQuestion Câu hỏi</div>
                                </div>

                            </div>
                            <div class="styles__ContentContainer">
                                <div class="styles__LeftContentContainer">
                                    <div class="styles__TopContent">
                                        <div class="styles__MainInfo">
                                            <div class="title__Wrapper">@eduquiz.Title</div>
                                            <p class="description">@eduquiz.Description</p>
                                        </div>
                                    </div>
                                    <div class="styles__BottomContent">
                                        <div class="styles__BottomInnerWrapper">
                                            <div class="creator">
                                                <img src="@eduquiz.Avatar" />
                                                <div>@eduquiz.Username</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="styles__ActionsWrapper">
                                    <button onclick="RedirectPlay(`@eduquiz.Uuid`)" class="btn">Chơi ngay</button>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="group-empty-view" style="width:85%;margin-top:10px;">
                        <div class="group-empty-view__Container">
                            <div class="groups-empty-view__Icons">
                                <div class="groups-empty-view__Icon m-0">
                                    <svg width="88" height="48" viewBox="0 0 88 48" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="72" cy="16" r="15" fill="white" stroke="#F2F2F2" stroke-width="2"></circle><path fill-rule="evenodd" clip-rule="evenodd" d="M68.25 13C68.25 15.0711 69.9289 16.75 72 16.75C74.0711 16.75 75.75 15.0711 75.75 13C75.75 10.9289 74.0711 9.25 72 9.25C69.9289 9.25 68.25 10.9289 68.25 13ZM72 17.5C68.2721 17.5 65.25 19.9554 65.25 22.9844H78.75C78.75 19.9554 75.7279 17.5 72 17.5Z" fill="#45A3E5"></path><circle cx="16" cy="32" r="15" fill="white" stroke="#F2F2F2" stroke-width="2"></circle><path fill-rule="evenodd" clip-rule="evenodd" d="M12.25 29C12.25 31.0711 13.9289 32.75 16 32.75C18.0711 32.75 19.75 31.0711 19.75 29C19.75 26.9289 18.0711 25.25 16 25.25C13.9289 25.25 12.25 26.9289 12.25 29ZM16 33.5C12.2721 33.5 9.25 35.9554 9.25 38.9844H22.75C22.75 35.9554 19.7279 33.5 16 33.5Z" fill="#45A3E5"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M40.518 18C40.518 22.1421 43.8795 25.5 48.0262 25.5C52.1728 25.5 55.5344 22.1421 55.5344 18C55.5344 13.8579 52.1728 10.5 48.0262 10.5C43.8795 10.5 40.518 13.8579 40.518 18ZM52.5311 18C52.5311 20.4853 50.5142 22.5 48.0262 22.5C45.5382 22.5 43.5213 20.4853 43.5213 18C43.5213 15.5147 45.5382 13.5 48.0262 13.5C50.5142 13.5 52.5311 15.5147 52.5311 18ZM48.0262 30C43.5618 30 39.8588 32.1113 38.3034 34.9688H57.749C56.1935 32.1113 52.4906 30 48.0262 30ZM34.5115 37.9688H61.5409C61.5409 31.9109 55.4902 27 48.0262 27C40.5622 27 34.5115 31.9109 34.5115 37.9688Z" fill="#0542B9"></path></svg>
                                    <div class="groups-empty-view__IconLabel">Tương tác</div>
                                </div>
                            </div>
                            <div class="groups-empty-view__Title">
                                Đây là nơi các thành viên có thể chia sẻ EduQuizs và cộng tác với nhóm.
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    function RedirectPlay(value) {
        location.href = `/playmode?quizId=${value}`;
    }
    $(document).on("click", "#btn-submitshare", function () {
        if (arrEduQuizId.length == 0) {
            openToast('info', 'Lỗi', 'Vui lòng chọn EduQuiz!', 3000);
            return;
        } 
        $.ajax({
            type: "POST",
            url: "@Url.Action("ShareEduQuizGroup", "Group")",
            data: {
                groupid: "@Model.Group.Id",
                listeduquizid: arrEduQuizId
            },
            success: function (response) {
                if (response.redirectUrl) {
                    Swal.fire({
                        title: 'Hết phiên đăng nhập',
                        text: 'Vui lòng đăng nhập lại',
                        icon: 'warning',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = response.redirectUrl;
                        }
                    });
                } else {
                    if (response.status == true) {
                        window.location.reload();
                    }
                }
            }
        })
    })
    
</script>
