<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="~/src/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/src/css/paper-dashboard.css" rel="stylesheet" />
    <link href="~/src/css/toast.css" rel="stylesheet" />
    <link href="~/src/css/auth.css" rel="stylesheet" />
    <link href="~/src/css/homedashboard.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @RenderSection("styles", required: false)
</head>
<body>
   
    <div class="wrapper ">
        <partial name="_SidebarUser" />
        <div class="main-panel">
            <!-- Navbar -->
            <partial name="_NavbarUser" />
            @RenderBody()
        </div>
    </div>
    <section id="toast" class="info off">
        <div id="icon-wrapper">
            <div id="icon"></div>
        </div>
        <div id="toast-message">
            <h4 id="toast-title"></h4>
            <p id="toast-description"></p>
        </div>
        <button id="toast-close"></button>
        <div id="timer"></div>
    </section>
    <script src="~/src/js/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="~/src/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/src/js/bootstrap.min.js"></script>
    <script src="@("https://unpkg.com/@popperjs/core@2")"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="~/src/css/js/bootstrap-notify.js"></script>
    <script src="~/src/css/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/src/js/toast.js"></script>
    <script>
        function showAutoSaveStatus(status) {
            const statusHtml = {
                saving: `<span>Đang lưu <i class="fa fa-undo spin" aria-hidden="true"></i></span>`,
                saved: `<span>Đã lưu <i class="fa fa-check" aria-hidden="true"></i></span>`
            };
            $("#autosave").html(statusHtml[status]);
        }
        </script>
    @RenderSection("scripts", required: false)
</body>
</html>
