@{
    @using Microsoft.AspNetCore.Http
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
    @model ICollection<EduQuiz.Models.EF.Folder>;
    var currentPath = HttpContextAccessor.HttpContext.Request.Path.Value;
}
<div class="sidebar-Link__Container">
    <div class="sidebar-folders mt-3">
        @{
            var folderRoot = Model.OrderBy(f => f.Id).FirstOrDefault();
        }
        <div class="sidebar-folders__Root @(string.IsNullOrEmpty(currentPath) || currentPath == $"/my-library/eduquizs/{folderRoot.Uuid}" ? "active" : "")">
            <a style="color:#333;text-decoration:none;padding:8px 0" href="@Url.Action("LibrarybyFolder","Library",new{id = folderRoot.Uuid})">
                <span class="sidebar-Link__Icon">
                    <svg viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0" aria-hidden="true"><title>Icon</title><path d="M20 13C20 15.209 18.209 17 16 17C13.791 17 12 15.209 12 13C12 10.791 13.791 9 16 9C18.209 9 20 10.791 20 13ZM23.739 22.323C23.114 20.186 21.35 18.534 19.133 18.11C18.22 18.671 17.149 19 16 19C14.851 19 13.78 18.671 12.867 18.11C10.65 18.534 8.886 20.186 8.261 22.323C6.85 20.599 6 18.397 6 16C6 10.486 10.486 6 16 6C21.514 6 26 10.486 26 16C26 18.397 25.15 20.599 23.739 22.323ZM16 4C9.373 4 4 9.373 4 16C4 22.627 9.373 28 16 28C22.627 28 28 22.627 28 16C28 9.373 22.627 4 16 4Z" style="fill: rgb(110, 110, 110);"></path></svg>
                </span>
                <span class="ml-2">Thư mục của bạn</span>
            </a>
            <button class="add-folders">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
        <div id="addfolder-wrapper" class="sidebar-Link__Wrapper ml-4 d-none">
            <div class="folder-content">
                <span class="sidebar-Link__Icon" style="width: 20px;height: 20px;margin-left:4px">
                    <svg viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0" aria-hidden="true"><title>Icon</title><path d="M17,15 L13,15 L13,19 C13,19.553 12.552,20 12,20 C11.448,20 11,19.553 11,19 L11,15 L7,15 C6.448,15 6,14.553 6,14 C6,13.447 6.448,13 7,13 L11,13 L11,9 C11,8.447 11.448,8 12,8 C12.552,8 13,8.447 13,9 L13,13 L17,13 C17.552,13 18,13.447 18,14 C18,14.553 17.552,15 17,15 M22,5 L12,5 L10.553,3.105 C10.214,2.428 9.521,2 8.764,2 L1,2 C0.447,2 0,2.447 0,3 L0,21 C0,22.104 0.896,23 2,23 L22,23 C23.104,23 24,22.104 24,21 L24,7 C24,5.896 23.104,5 22,5" style="fill: rgb(110, 110, 110);"></path></svg>
                </span>
                <div class="position-relative">
                    <input data-id="@folderRoot.Id" class="input__add-folder" placeholder="Thư mục mới" maxlength="255" />
                </div>
            </div>
        </div>
        @foreach (var item in Model.Where(f => f.Id != folderRoot?.Id && f.ParentFolderId == folderRoot.Id))
        { 
            <div class="sidebar-Link__Wrapper ml-4">
                <a href="@Url.Action("LibrarybyFolder","Library",new{id = item.Uuid})" class="@(string.IsNullOrEmpty(currentPath) || currentPath == $"/my-library/eduquizs/{item.Uuid}" ? "active" : "")">
                    <span class="sidebar-Link__Icon">
                        <svg viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0" aria-hidden="true"><title>Icon</title><path d="M24,11 C25.103,11 26,11.898 26,13 L26,23 C26,24.103 25.103,25 24,25 L8,25 C6.897,25 6,24.103 6,23 L6,10 C6,8.898 6.897,8 8,8 L12.5,8 C13.126,8 13.725,8.299 14.1,8.8 L15.75,11 L24,11 Z M8,23 L24.001,23 L24,13 L15.75,13 C15.124,13 14.525,12.701 14.15,12.2 L12.5,10 L8,10 L8,23 Z" style="fill: rgb(110, 110, 110);"></path></svg>
                    </span>
                    <span class="ml-2">@item.Name</span>
                </a>
            </div>
        }
    </div>
</div>